*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 3rem;
}
.container > h2 {
    font-size: 2rem;
    color: brown;
}
#group-btn{
    width: 100%;
    margin: 2rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
#group-btn > button{
    width: 20rem;
    height: 20rem;
    cursor: pointer;
}
.ResultadoImagenes{
    display: flex;
    justify-content: center;
    align-items: center;
}
.ResultadoImagenes > img{
    max-width: 15rem;
    max-height: 15rem;
}
#start-text{
    font-size: 3rem;
    color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
}
#start-text > h3{
    margin: 0 auto;
}
@media screen and (max-width: 768px){
    .container > h2{
        font-size: 1rem;
    }
    #start-text > h3{
        font-size: 1rem;
    }
    .ResultadoImagenes > img{
        max-width: 8rem;
    }
    #group-btn{
        padding: 0 1rem;
    }
    #group-btn > button{
        height: 8rem;
    }
    #group-btn > button > img{
        width: 4rem;
    }
}